<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon">
    <title>BACKPROPAGATION</title>
    
</head>
<body>
    
    <div id="app">

        <div id="main">

            <div id="card1">
                <div id="parametros">
                    <h1>RED NEURONAL BACKPROPAGATION</h1>

                    <label for="neuronasEntrada">Nº neuronas de entrada</label>
                    <input type="number" name="neuronasEntrada" min="1" v-model.number="numNeurEntrada">
    
                    <label for="neuronasOcultas">Nº neuronas ocultas</label>
                    <input type="number" name="neuronasOcultas" min="1" v-model.number="numNeurEscondidas">
    
                    <label for="neuronasSalida">Nº neuronas de salida</label>
                    <input type="number" name="neuronasSalida" min="1" v-model.number="numNeurSalida">
                    
                    <label for="numPatronesEntrenamiento">Nº patrones de entrenamiento</label>
                    <input type="number" name="numPatronesEntrenamiento"  min="1" v-model.number="numPatronesEntrenamiento">
                
                    <button v-on:click="inicializarPatrones(),ocultarButonEntrenar()" v-bind:disabled="isAccedOne" v-if="btnContinuar">Continuar</button>
                </div>
            </div>

            <div id="gif">
                <video id="record" autoplay muted loop >
                    <source src="./ia.mp4" type="video/mp4">
                </video>
            </div>

            <div id="info">
                <div id="pesos">
                    {{calcularPesos}}
                    <ul v-for="(peso, indice) in w">
                        <li><b> w{{indice+1}}:</b> <span>{{peso}}</span></li>
                    </ul>
                </div>
                <span v-if="shadow">.</span>
            </div>

            <div id="neural">

                <div id="patrones">
                    <div id="patronesEntrenamiento" v-if="mostrarTablaPatrones" >
                        <table id="tablaPatrones">
                            <tr>
                                <th :colspan="numNeurEntrada">Entradas</th>   
                                <th :colspan="numNeurSalida">Salidas</th>
                            </tr>
                            <tr v-for="(patron, index) in numPatronesEntrenamiento">
                                <td v-for="(entrada,indiceEntrada) in x[index].length" width="10px"><input v-model.number="x[index][indiceEntrada]" type="number"   class="patronesEntrenamiento entrada"></td> 
                                <td v-for="(salida,indiceSalida) in d[index].length" width="10px"><input v-model.number="d[index][indiceSalida]" type="number"   class="patronesEntrenamiento"></td> 
                            </tr> 
                        </table>
                    </div>
                    <div id="opcionesPatrones" v-if="mostrarTablaPatrones">
                        <input type="number" min="1" v-model.number="numIteraciones" placeholder="N° Iteraciones">
                        <button v-on:click="btnContinuar=false,entrenarNeurona()" v-bind:disabled="isReadyToLearn" v-if="apagarEntrenar">Entrenar</button>
                        <p style="text-align: center;">{{contador}}</p>
                        <button v-on:click="inicializarPrueba(),ocultarButonEntrenar()" v-if="mostrarBotonProbar">inciar prueba</button>
                    </div>
                    
                                            

                    <div id="patronesPrueba" v-if="mostrarPrueba">
                        <table id="tablaPrueba">
                            <tr>
                                <th :colspan="numNeurEntrada">Entradas</th>   
                                <th :colspan="numNeurSalida">Salidas</th>
                            </tr>
                            <tr >
                                <td v-for="(entradas,indexEntrada) in entrada.length" width="10px"><input v-model.number="entrada[indexEntrada]" type="number"   class="patronesEntrenamiento entrada"></td> 
                                <td v-for="(salidas,indexSalida) in salida.length" width="10px"><input v-model.number="salida[indexSalida]" type="number"   class="patronesEntrenamiento"></td> 
                            </tr> 
                        </table>
                        <button v-on:click="probarNeurona(),cambiar()" >Probar</button>
                    </div>
                </div>
            </div>

            <b class="aboutme">Developed by <a href="https://github.com/Lercc/Backpropagation" target="_blanck">lercc</a></b>
        </div>
    </div>
    
    <script src="./componenteTabla.js"></script>
    <script src="./main.js"></script>
</body>
</html>


